<div class="table-responsive" style="width: 90%; margin: 0 auto;">
  <table class="data-table">
    <thead>
      <tr>
        <th>Project</th>
        {% for col in columns %}
        <th>{{ col.title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for proj in rows %}
      <tr>
        <td><a href='{{ data[proj]["location"]["href"] }}'><strong>
              {{data[proj]["location"]["public-name"]}}</strong></a></td>
        {% for col in columns %}
        <td>{{ data[proj][col.key] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>