name: Code Check

# Run the workflow on all branches.
on: [push, pull_request]

jobs:
  # Run basic code quality checks.
  check-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pipx install poetry

      - uses: pre-commit/action@v3.0.1
