name: CLI Tests

on:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run CLI Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v4

      - name: Configure Poetry to use in-project virtualenv
        run: poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: poetry install --no-interaction --without dev

      - name: Install test dependencies
        run: poetry install --with dev

      - name: Run tests
        run: poetry run pytest -q
